@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0.7vh;
    background-color: aqua;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

.login-container,
.signup-container {
    margin: auto;
    margin-top: 50px;
    width: 30%;
    padding: 20px 20px 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
}

.login-container form,
.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container h1,
.signup-container h1 {
    text-align: center;
}

form input {
    padding: 5px;
}

input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
}

@media (max-width: 1150px) {

    .login-container,
    .signup-container {
        width: 40%;
    }

    nav {
        padding: 0px 15px;
    }

    .nav-items a {
        margin-right: 20px;
        font-size: large;
    }
}

@media (max-width: 750px) {

    .login-container,
    .signup-container {
        width: 60%;
    }

    .nav {
        padding: 0px 10px;
    }

    .nav-items a {
        margin-right: 10px;
        font-size: medium;
    }
}

@media (max-width: 400px) {

    .login-container,
    .signup-container {
        width: 80%;
    }

    .nav {
        padding: 0px 0px 0px 5px;
    }

    .nav-items a {
        margin-right: 5px;
        font-size: small;
    }
}