.login-container,
.signup-container {
    margin: auto;
    width: 30%;
    padding: 20px 20px 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 25px;
}

.login-container form,
.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-container h1,
.signup-container h1 {
    text-align: center;
}

form input {
    padding: 5px;
}

input[type="submit"] {
    border: none;
    background-color: black;
    color: white;
}

@media (max-width: 1150px) {

    .login-container,
    .signup-container {
        width: 40%;
    }
}

@media (max-width: 750px) {

    .login-container,
    .signup-container {
        width: 60%;
    }

}

@media (max-width: 400px) {

    .login-container,
    .signup-container {
        width: 80%;
    }
}