@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0.7vh;
    background-color: aqua;
}

::-webkit-scrollbar-thumb {
    background-color: yellow;
}

.container{
    width: 80%;
    margin: auto;
}
